@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --first-color: #00778F;
    --second-color: #00BBE0;

    --main-linear: linear-gradient(90deg, var(--second-color), var(--first-color));

    --white-color: #F3F3F7;
    --outstanding-color: #DD614A;

    --default-shadow: .2em .5em .5em rgba(0, 0, 0, .3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: row;
}

.l-nav {
    width: 30%;
    height: 100%;

    background-image: var(--main-linear);

    border-right: 1px solid lightblue;
    opacity: .9;
}

.l-main {
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.msg__header {
    width: 100%;
    height: 10%;

    background-color: var(--second-color);
    padding: 0 1em;

    color: var(--white-color);

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1em;
}

.header__image {
    width: 3em;
}

.header__info {
    height: 60%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.header__name {
    font-size: 16pt;
}

.header__status {
    font-size: 12pt;
    font-weight: 400;
}

.msg__area {
    width: 100%;
    height: 80%;

    background-color: var(--first-color);
    opacity: .7;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.msg__list {
    width: 80%;
    height: 100%;

    overflow-y: scroll;
    list-style: none;

    color: var(--white-color);
    font-size: 12pt;
    padding: 1em 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.msg__list::-webkit-scrollbar {
    opacity: 0;
}

.msg__list li {
    width: 50%;
    min-height: 2.5em;

    background-color: var(--outstanding-color);
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg__send {
    width: 100%;
    height: 10%;

    background-color: var(--second-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.input__area {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form__input {
    width: 80%;
    height: 65%;

    border-radius: 8px;
    padding: 0 1em;

    font-size: 10pt;

    box-shadow: var(--default-shadow);

    border: none;
    outline: none;
}

@media (max-width: 700px) and (orientation: portrait) {
    .l-nav {
        width: 0;
    }

    .l-main {
        width: 100%;
    }

    .header__name {
        font-size: 12pt;
    }

    .msg__list {
        width: 100%;
    }

    .msg__list li {
        width: 80%;
    }
}

@media (max-width: 950px) and (orientation: landscape) {
    .l-nav {
        width: 0;
    }

    .l-main {
        width: 100%;
    }

    .msg__header {
        height: 15%;
    }
    
    .header__image {
        width: 2.5em;
    }

    .header__name {
        font-size: 14pt;
    }

    .msg__area {
        height: 70%;
    }

    .msg__send {
        height: 15%;
    }
}